.order-form__text {
  @include paddings-mobile;

  margin: 0;
  margin-bottom: 22px;
  padding-right: 10%;

  color: var(--charcoal);
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet) {
    @include paddings-tablet;

    margin-bottom: 5px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.order-form__group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;

  &:last-of-type {
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  &--phone,
  &--email {
    @media (max-width: $tablet - 1) {
      margin-bottom: 36px;
    }
  }

  &--marked {
    @media (min-width: $tablet) {
      background-color: var(--white-smoke);
    }
  }

  legend {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 26px;
    align-items: center;

    width: 100%;

    color: var(--light-green);
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;

    &::after {
      width: 100%;
      height: 1px;

      background-color: var(--form-light-green);

      content: "";

      @media (min-width: $tablet) {
        content: none;
      }
    }

    @media (min-width: $tablet) {
      display: block;

      padding-top: 18px;
    }
  }
}

.order-form__group-inner {
  @include paddings-mobile;

  display: grid;
  gap: 26px;

  @media (min-width: $tablet) {
    @include paddings-tablet;

    grid-template-columns: 20% auto;
    gap: 5%;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 8% auto;
    gap: 40px;

    padding-right: 120px;
    padding-left: 110px;
  }

  &--personal {
    @media (max-width: $tablet - 1) {
      gap: 28px;
    }
  }

  &--phone,
  &--email {
    @media (max-width: $tablet - 1) {
      gap: 7%;
    }
  }

  &--phone {
    @media (min-width: $tablet) {
      padding-bottom: 22px;
    }
  }

  &--email {
    @media (min-width: $tablet) {
      padding-top: 0;
    }
  }
}

.order-form__group-wrapper {
  display: grid;
  gap: 15px;

  @media (min-width: $tablet) {
    gap: 24px;
  }

  &--color {
    gap: 22px;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, auto);
      gap: 24px;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(3, auto);
    }
  }

  &--personal {
    gap: 21px;

    @media (min-width: $tablet) {
      gap: 22px;
    }
  }
}

.order-form__footer {
  @include paddings-mobile;

  display: grid;
  gap: 30px;

  @media (min-width: $tablet) {
    @include paddings-tablet;

    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.order-form__text-required {
  margin: 0;

  color: var(--charcoal);
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__submit {
  @include button-like;

  @media (min-width: $tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}
