.reviews {
  @include paddings-mobile;
  @include bottom-zigzag;

  position: relative;

  padding-bottom: 50px;

  @media (min-width: $tablet) {
    @include paddings-tablet;
    @include background2x($url: "../images/reviews/review-background@2x.jpg");

    padding-top: 77px;
    padding-bottom: 135px;

    background-image: url("../images/reviews/review-background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px 457px;
  }

  @media (min-width: $desktop) {
    @include paddings-desktop;

    padding-top: 0;
    padding-bottom: 20px;

    background-image: none;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet) {
    position: relative;

    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr min-content;
    gap: 47px;
  }

  @media (min-width: $desktop) {
    @include background2x($url: "../images/reviews/review-background@2x.jpg");

    gap: 45px;

    padding-top: 75px;
    padding-bottom: 165px;
    padding-left: 170px;

    background-image: url("../images/reviews/review-background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px 457px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: var(--bold);
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list-wrapper {
  margin: 0;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
  }
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
  @media (min-width: $tablet) {
  }
}

.reviews__text {
  min-height: 6em;
  margin: 0;
  margin-bottom: 27px;

  color: var(--charcoal);
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;

    font-size: 17px;
  }

  @media (min-width: $desktop) {
    width: 90%;

    margin-bottom: 27px;

    padding-left: 5px;
  }
}

.reviews__author-wrapper {
  margin-bottom: 30px;

  font-style: normal;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 5px;
  }
}

.reviews__author {
  margin: 0;
  margin-bottom: 2px;

  font-weight: var(--bold);
  font-size: 17px;
  line-height: 24px;
}

.reviews__nickname {
  margin: 0;

  color: var(--charcoal);
  font-size: 17px;
  line-height: 30px;
}

.reviews__buttons-wrapper {
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 38px;

  box-shadow: inset 0 0 0 1px var(--whisper);

  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    bottom: 0;

    margin-bottom: 0;

    box-shadow: none;
  }

  @media (min-width: $desktop) {
    bottom: 168px;
  }
}

.reviews__back,
.reviews__forward {
  @include reset-button;

  display: grid;

  height: 52px;

  outline: none;

  &::after {
    @include transition(filter);

    width: 100%;
    height: 100%;

    background-image: url("../images/reviews/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 26px;

    content: "";
  }

  &:hover::after,
  &:focus::after {
    filter: opacity(60%);
  }

  &:active::after {
    filter: opacity(30%);
  }

  &--disable {
    pointer-events: none;

    &::after {
      filter: opacity(30%);
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      filter: opacity(30%);
    }
  }

  @media (min-width: $tablet) {
    width: 88px;
  }
}

.reviews__back {
}

.reviews__forward {
  box-shadow: inset -1px 0 0 0 var(--whisper);
  transform: rotate(180deg);

  @media (min-width: $tablet) {
    box-shadow: none;
  }
}

.reviews__write {
  @include button-like;

  width: 100%;

  @media (min-width: $tablet) {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    align-self: center;
  }

  @media (min-width: $desktop) {
    margin-top: 9px;
  }
}
