extends ../layouts/layout.pug
include ../components/header.pug
include ../components/products.pug
include ../components/video.pug
include ../components/footer.pug

block title
  | Mishka | Каталог

block header
  +header("Каталог товаров")

block main
  include ../../data/productsData.pug
  include ../../data/videoManufacturingData.pug

  main.main
    +products(productsData).main__products
    +video(videoManufacturingData).main__video

block footer
  +footer
