extends ../layouts/layout.pug
include ../components/header.pug
include ../components/product-spotlight.pug
include ../components/advantages.pug
include ../components/reviews.pug
include ../components/footer.pug


block title
  | Mishka | Главная

block header
  +header

block main
  include ../../data/productSpotlightData.pug
  include ../../data/advantagesData.pug
  include ../../data/reviewsData.pug

  main.main
    +product-spotlight(productSpotlightData).main__product-spotlight
    +advantages(advantagesData).main__advantages
    +reviews(reviewsData).main__reviews

block footer
  +footer
