extends ../layouts/layout.pug
include ../components/header.pug
include ../components/product-spotlight.pug


block title
  | Mishka | Главная

block header
  +header

block main
  include ../../data/productSpotlightData.pug

  main.main
    +product-spotlight(productSpotlightData)

block footer
  p footer
