extends ../layouts/layout.pug
include ../components/header.pug
include ../components/product-spotlight.pug
include ../components/advantages.pug
include ../components/reviews.pug
include ../components/contacts.pug
include ../components/footer.pug


block title
  | Mishka | Главная

block header
  +header("Милые штуки ручной работы для дома")

block main
  include ../../data/productSpotlightData.pug
  include ../../data/advantagesData.pug
  include ../../data/reviewsData.pug

  main.main
    +product-spotlight(productSpotlightData).main__product-spotlight
    +advantages(advantagesData).main__advantages
    +reviews(reviewsData).main__reviews
    +contacts.main__contacts

block footer
  +footer
