mixin textarea(data)
  - const isShort = (bool) => bool ? `textarea--short` : ``;

  label.textarea(class=isShort(data.isShort))
    span.visually-hidden #{data.labelText}
    textarea(name!=data.name placeholder!=data.placeholder)
