.main {

}

.main__product-spotlight {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
  }
}

.main__advantages {
  margin-bottom: 55px;

  @media (min-width: $tablet) {
    margin-bottom: 83px;
  }
}

.main__reviews {

}
