.main {
}

.main__product-spotlight {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
  }
}

.main__advantages {
  margin-bottom: 50px;

  @media (min-width: $tablet) {
    margin-bottom: 83px;
  }
}

.main__reviews {
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.main__products {
  @include paddings-mobile;

  margin-bottom: 30px;

  @media (min-width: $tablet) {
    @include paddings-tablet;

    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    @include paddings-desktop;

    margin-bottom: 57px;
  }
}

.main__video {
  @include paddings-mobile;

  @media (min-width: $tablet) {
    @include paddings-tablet;
  }

  @media (min-width: $desktop) {
    @include paddings-desktop;
  }
}
