doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title
      block title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Милые штуки ручной работы для дома")

  block meta

  link(href="fonts/open-sans-400.woff2" as="font" rel="preload" crossorigin="anonymous")
  link(href="fonts/open-sans-700.woff2" as="font" rel="preload" crossorigin="anonymous")
  link(rel="stylesheet" href="css/style.min.css")
  body
    block header
    block main
    block footer
    block modal

    block scripts

    script(src="js/vendor.min.js")
    script(src="js/main.js")
