mixin advantages(data)
  section.advantages(class!=attributes.class)
    h2.advantages__title #{data.title}
    ul.advantages__list
      each item in data.list
        li(class=`advantages__item advantages__item--${item.id}`) !{item.text}
