mixin header(title)
  header.header
    .header__title-wrapper
      h1.header__title= title
    nav.header__nav
      a.header__logo(href="index.html")
        svg(width="86" height="35")
          use(href="#logo")
      ul
        li
          a.header__link(href="catalog.html")
            span.header__link-text Каталог товаров
        li
          a.header__link(href="form.html")
            span.header__link-text Вязание на заказ
        li
          a.header__link(href="#")
            span.header__link-text.header__link-text--search Поиск по сайту
        li
          a.header__link(href="#")
            span.header__link-text.header__link-text--cart Корзина: пока пуста
