mixin socials
  ul(class!=attributes.class).socials
    li.socials__item
      a.socials__link.socials__link--instagramm(href="#" aria-label="instagramm")
    li.socials__item
      a.socials__link.socials__link--facebook(href="#" aria-label="facebook")
    li.socials__item
      a.socials__link.socials__link--twitter(href="#" aria-label="twitter")
