-
  const advantagesData = {
    title: `Коротко о нас:`,
    list: [
      {
        id: `ecological`,
        text: `Экологически<br /> чистые материалы`,
      },
      {
        id: `scandinavian`,
        text: `Скандинавский стиль<br /> по российской цене`,
      },
      {
        id: `likes`,
        text: `Увеличивает лайки<br /> на фотографиях`,
      },
      {
        id: `handmade`,
        text: `Связано вручную с<br /> любовью и умилением`,
      },
      {
        id: `support`,
        text: `Поддержка отечественного<br /> производителя`,
      },
      {
        id: `present`,
        text: `Поставляется в<br /> подарочной упаковке`,
      }
    ]
  };
