-
  const formData = {
    typeGroup: [
      {
        checked: true,
        id: `interior`,
        name: `type`,
        text: `Аксессуар для интерьера`,
        type: `radio`,
        value: `interior`,
      },
      {
        checked: false,
        id: `toy`,
        name: `type`,
        text: `Детская игрушка`,
        type: `radio`,
        value: `toy`,
      }
    ],
    colorGroup: [
      {
        checked: true,
        id: `white`,
        name: `white`,
        text: `Белый`,
        type: `checkbox`,
      },
      {
        checked: true,
        id: `gray`,
        name: `gray`,
        text: `Серый`,
        type: `checkbox`,
      },
      {
        checked: false,
        id: `tiffani`,
        name: `tiffani`,
        text: `«Тиффани»`,
        type: `checkbox`,
      },
      {
        checked: false,
        id: `black`,
        name: `black`,
        text: `Черный`,
        type: `checkbox`,
      },
      {
        checked: false,
        id: `pink`,
        name: `pink`,
        text: `Розовый`,
        type: `checkbox`,
      },
      {
        checked: false,
        id: `orange`,
        name: `orange`,
        text: `Оранжевый`,
        type: `checkbox`,
      },
    ],
    personalGroup: [
      {
        labelText: `Имя:`,
        name: `userFirstName`,
        placeholder: `Введите ваше имя*`,
        required: ``,
        isShort: true,
        type: `text`,
        value: ``,
      },
      {
        labelText: `Фамилия:`,
        name: `userLastName`,
        placeholder: `Укажите фамилию*`,
        required: ``,
        isShort: true,
        type: `text`,
        value: ``,
      },
      {
        labelText: `Отчество:`,
        name: `userMiddleName`,
        placeholder: `Отчество, если желаете`,
        isShort: true,
        type: `text`,
        value: ``,
      },
    ],
    phoneGroup: [
      {
        icon: `phone`,
        labelHidden: true,
        labelText: `Телефон:`,
        name: `phone`,
        placeholder: `+7 ХХХ ХХХ ХХ ХХ*`,
        required: ``,
        isShort: true,
        type: `text`,
        value: ``,
      },
    ],
    emailGroup: [
      {
        icon: `email`,
        labelHidden: true,
        labelText: `Email:`,
        name: `email`,
        placeholder: `Ваш Email*`,
        required: ``,
        isShort: true,
        type: `text`,
        value: ``,
      },
    ],
    extraGroup: [
      {
        labelText: `Опишите все ваши пожелания к заказу`,
        name: `description`,
        placeholder: `Опишите все ваши пожелания к заказу`,
        isShort: true,
        type: `textarea`,
        value: ``,
      },
    ],
  };
