-
  const productsData = {
    list: [
      {
        image: {
          mobile: `images/product/product-rabbit-mobile.jpg`,
          mobile2x: `images/product/product-rabbit-mobile@2x.jpg`,
          tablet: `images/product/product-rabbit-tablet.jpg`,
          tablet2x: `images/product/product-rabbit-tablet@2x.jpg`,
          desktop: `images/product/product-rabbit-desktop.jpg`,
          desktop2x: `images/product/product-rabbit-desktop@2x.jpg`,
        },
        alt: `product image`,
        title: `Зайчик-попрыгайчик`,
        description: `Рост 30 см, вес 200 г`,
        cost: `1 200`,
      },
      {
        image: {
          mobile: `images/product/product-laundry-basket-mobile.jpg`,
          mobile2x: `images/product/product-laundry-basket-mobile@2x.jpg`,
          tablet: `images/product/product-laundry-basket-tablet.jpg`,
          tablet2x: `images/product/product-laundry-basket-tablet@2x.jpg`,
          desktop: `images/product/product-laundry-basket-desktop.jpg`,
          desktop2x: `images/product/product-laundry-basket-desktop@2x.jpg`,
        },
        alt: `product image`,
        title: `Корзинка для белья`,
        description: `Диаметр 15 см, высота 10 см`,
        cost: `690`,
      },
      {
        image: {
          mobile: `images/product/product-toy-basket-mobile.jpg`,
          mobile2x: `images/product/product-toy-basket-mobile@2x.jpg`,
          tablet: `images/product/product-toy-basket-tablet.jpg`,
          tablet2x: `images/product/product-toy-basket-tablet@2x.jpg`,
          desktop: `images/product/product-toy-basket-desktop.jpg`,
          desktop2x: `images/product/product-toy-basket-desktop@2x.jpg`,
        },
        alt: `product image`,
        title: `Большая корзинка для игрушек`,
        description: `Диаметр 30 см, высота 30 см`,
        cost: `1 500`,
      },
    ],
  };
