-
  const productSpotlightData = {
    title: `Вязаные корзинки`,
    text: `Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.`,
    price: `990`,
    desriptionList: [
      {
        term: `Цвет:`,
        details: `«Тиффани»/серый`
      },
      {
        term: `Диаметр:`,
        details: `25см`
      },
      {
        term: `Высота:`,
        details: `15см`
      }
    ]
  };
