-
  const productSpotlightData = {
    image: {
      mobile: `images/product-spotlight/triple-set-mobile.jpg`,
      mobile2x: `images/product-spotlight/triple-set-mobile@2x.jpg`,
      tablet: `images/product-spotlight/triple-set-tablet.jpg`,
      tablet2x: `images/product-spotlight/triple-set-tablet@2x.jpg`,
      desktop: `images/product-spotlight/triple-set-desktop.jpg`,
      desktop2x: `images/product-spotlight/triple-set-desktop@2x.jpg`,
    },
    alt: `product image`,
    title: `Вязаные корзинки`,
    text: `Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.`,
    price: `990`,
    desriptionList: [
      {
        term: `Цвет:`,
        details: `«Тиффани»/серый`
      },
      {
        term: `Диаметр:`,
        details: `25см`
      },
      {
        term: `Высота:`,
        details: `15см`
      }
    ]
  };
