-
  const videoManufacturingData = {
    title: `Процесс производства`,
    description: `По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.`,
    videoSrc: ``,
  }
