@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-button {
  padding: 0;

  color: inherit;
  font: inherit;

  background-color: transparent;
  border: none;
}

@mixin button-like {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 30px 13px;

  color: var(--charcoal);
  font-weight: var(--bold);
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid var(--charcoal);

  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;

  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    color: var(--white);

    background-color: var(--charcoal);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin paddings-mobile {
  padding-right: 9%;
  padding-left: 9%;
}

@mixin paddings-tablet {
  padding-right: 6.5%;
  padding-left: 6.5%;
}

@mixin paddings-desktop {
  padding-right: 8%;
  padding-left: 8%;
}
