@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-button {
  padding: 0;

  color: inherit;
  font: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin button-like($small: false) {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 30px 13px;
  @if $small {
    padding-right: 24px;
    padding-left: 24px;
  }

  color: var(--charcoal);
  font-weight: var(--bold);
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid var(--charcoal);

  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;

  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    color: var(--white);

    background-color: var(--charcoal);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet) {
    padding-right: 38px;
    padding-left: 38px;
  }
}

@mixin transition($properties...) {
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  transition-property: $properties;
}

@mixin opacity-effect {
  @include transition(filter);

  &:hover,
  &:focus {
    filter: opacity(60%);
  }

  &:active {
    filter: opacity(30%);
  }
}

@mixin paddings-mobile {
  padding-right: 9%;
  padding-left: 9%;
}

@mixin paddings-tablet {
  padding-right: 6.5%;
  padding-left: 6.5%;
}

@mixin paddings-desktop {
  padding-right: 8%;
  padding-left: 8%;
}

@mixin bottom-zigzag {
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 6px;

    background-image: url("../images/common/zigzag.svg");
    background-repeat: repeat-x;
    background-position: center;

    content: "";

    @media (min-width: $tablet) {
      height: 17px;
    }

    @media (min-width: $desktop) {
      height: 23px;
      margin: 0 100px;
    }
  }
}

@mixin background2x($url) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url($url);
  }
}
