:root {
  // font-weights
  --regular: 400;
  --bold: 700;

  // colors
  --text-black: #000000;
  --text-charcoal: #444444;
  --text-light-green: #63d1bb;
  --text-white: #ffffff;

  --bg-black: #000000;
  --bg-charcoal: #444444;
  --bg-light-green: #63d1bb;
  // #ececec
  --bg-white-smoke: #f1f1f1;
  --bg-white: #ffffff;

  // transition
  --transition-timing-function: linear;
  --transition-duration: 200ms;
}

// screen sizes
$tablet: 768px;
$desktop: 1250px;

// retina resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
